:root{
    --main-color-1: #0984e3;
    --main-color-2: #EE5A24;
}

/* Spacing */
.width-fit-content{
    width: fit-content;
}
.width-10-percent {
    width: 10%;
}
.width-20-percent {
width: 20%;
}
.width-30-percent {
width: 30%;
}
.width-40-percent {
width: 40%;
}
.width-50-percent {
width: 50%;
}
.width-60-percent {
width: 60%;
}
.width-70-percent {
width: 70%;
}
.width-80-percent {
width: 80%;
}
.width-90-percent {
width: 90%;
}
.width-100-percent {
width: 100%;
}
.margin-auto {
margin: auto;
}
.margin-10-auto {
margin: 10px auto;
}
.margin-bottom-20 {
margin-bottom: 20px;
}
.margin-10-0 {
margin: 10px 0;
}
.padding-10-0 {
padding: 10px 0;
}
.padding-10px-2percent {
padding: 10px 2%;
}

/* Color */
.color-white {
color: white;
}
.color-black {
color: black;
}
.color-main-1 {
color: var(--main-color-1);
}
.color-main-2 {
color: var(--main-color-2);
}
.back-color-white {
background-color: white;
}
.back-color-main-1 {
background-color: var(--main-color-1);
}
.back-color-main-2 {
background-color: var(--main-color-2);
}
.back-color-green{
    background-color: green;
}

/* Display */
.flex {
display: flex;
}
.flex-between {
justify-content: space-between;
}
.flex-wrap {
flex-wrap: wrap;
}
.hidden {
display: none;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

.cursor {
cursor: pointer;
}
.border-radius-10 {
border-radius: 10px;
}
.border-radius-20 {
border-radius: 20px;
}

.border-bottom-1 {
border-bottom: 2px solid var(--main-color-1);
}

.box-shadow-10-black {
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Form */
.input {
outline: none;
border: 1px solid #bdc3c7;
padding: 10px 5px;
border-radius: 5px;
}
.input-readonly{
    outline: none;
    border: none;
    width: fit-content;
}
.textarea{
    outline: none;
    border: 1px solid #bdc3c7;
    padding: 10px 5px;
    border-radius: 5px;
    height: 200px;
}
.button {
padding: 5px 20px;
border: none;
}
.button-radius-10 {
border-radius: 10px;
}
.button-radius-20 {
border-radius: 20px;
}
.overflow-auto {
overflow: auto;
}